@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  text-align: left;
  font-size: 180px;
  margin-left: 50px;
  position: absolute;
  top: 100px;
  left: 20px;
  color: #00112a;
}

body {
  background-image: url("../public/Mask\ group.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
}

.scroll {
  position: relative;
  color: #00112a;
}

.text {
  position: absolute;
  top: 85vh;
  right: 5%;
}

.span1 {
  background-image: url(../public/Rectangle-101.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 10px 20px;
  width: 100%;
}

.span2 {
  margin-left: 32px;
}
