.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0% 2% 0% 2%;
  border: none;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #00112a;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: right;
  text-decoration: none;
  list-style-type: none;
  margin-right: 5rem;
  font-weight: bold;
  font-size: 13px;
  margin-top: 5px;
}

.list:hover {
  cursor: pointer;
}

.span {
  margin-left: 10px;
}
.span:hover {
  opacity: 0.6;
}

.pointer {
  cursor: pointer;
}
